* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before {
    box-sizing: border-box;
}

*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    min-width: 1100px;
    height: auto;
    color: #ffffff;
    background-color: #090a1a;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

button {
    outline: none !important;
    font-family: inherit;
    font-size: inherit;
}

